* {
  border: 0;
  padding: 0;
  text-align: center;
}


.navBar {
  background-color: black;
}

.SignedInnavBarLinks  > li > a{
  color: white;
  font-family: 'Brush Script MT', cursive;
}



.sideBarNotVisible {
  visibility: hidden;
}

.sideBarVisible {
  width: 50%;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 25%;
  position: fixed;
  z-index: 1;

}

.sideBarSignedInLinks >ul > li> a{
  color: white;
  font-family: 'Brush Script MT', cursive;
}

  


.hamburgerV {
  width: 50px;
  padding: 10px;
}

.hamburgerNV {
  width: 50px;
  padding: 10px;
  visibility: hidden;
}

.bar1,
.bar2,
.bar3 {
  width: auto;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}


.create{
  padding:0 25% 0  25%;
  text-align: center;
}
.create > p{
  font-size: 40px;
  font-family: 'Brush Script MT', cursive;
}
/* .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} */





/* Header */

.header{
  background-color: black;
  margin: 5% 0 0 0;
  height: 25vh;
  margin: 0 5% 0 5%;
  
}


.header > p {
  color: white;
  font-family: 'Brush Script MT', cursive;
  font-size: 50px;
  padding-top: 25px;
}



.rowL{
  margin: 1% 5% 0 5%;

 display: grid;
 display: grid;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;

}

.indiv-recipe{
  background-color: black;
}

.indiv-recipe > p{
  color: white;
  font-family: 'Brush Script MT', cursive;
  font-size: 25px;
  padding-bottom: 5%;
}

